<nav class="navbar navbar-dark bg-dark navbar-static-top">
  <div class="container">
    <div class="col-sm-2">
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div class="col-md-6">
      <label for="cb">Menu</label>
      <input type="checkbox" style="display: none" id="cb">
      <div id="menu">
        <button for="sort-title-ascending">Sort ascending by Title</button>
      </div>
    </div>
    <div class="col-sm-4">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>
