<nav class="navbar navbar-dark bg-dark navbar-static-top">
  <div class="container">
    <div class="col-sm-2">
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div class="col-md-6">
      <label for="cb">Menu</label>
      <input type="checkbox" style="display: none" id="cb">
      <div id="menu">
        <button for="sort-title-ascending">Sort ascending by Title</button>
        <h1>XD</h1>
      </div>
    </div>
    <div class="col-sm-4">
    <form class="form-inline">
      <input #searchBox id="search-box" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
      (keyup)="searchBooks(searchBox.value)">
      <button class="btn btn-outline-info my-2 my-sm-0" (click)="searchBooks(searchBox.value)">Search</button>
    </form>
  </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <button (click)="previousPage()"><</button>
    <button (click)="nextPage()">></button>
  </div>
</div>
<div class="container" id="body">
  <div class="container">
    <div class="row text-primary">
        <span class="col-sm-2">Sort by:</span>
        <button class="col-sm-2" (click)="sortByTitle()">Title</button>
        <button class="col-md-2" (click)="sortByAuthor()">Author</button>
        <button class="col-md-2" (click)="sortByPrice()">Price</button>
        <button class="col-md-2" (click)="sortByPromo()">Promo</button>
        <button class="col-sm-2" (click)="reset()">Reset</button>
    </div>
  </div>
  <ol class="list-group">
    <li class="list-group-item" *ngFor="let book of books">
      <div class="row justify-content-center">
        <div class="col-sm-2">
          <img src="{{book.smallThumbnail}}" />
        </div>
        <a class="col-sm-8" [routerLink]="['/books', book.industryIdentifier]">
          <span class="h4">{{book.title}}</span>
          <br />
          <span class="text-muted"> {{book.authors}} </span>
        </a>
        <div id="buy-row-center" class="col-sm-2 align-items-center">
          <div class="row justify-content-center">
            <a class="btn btn-outline-info my-2 my-sm-0" href="{{book.canonicalVolumeLink}}">{{book.retailPriceAmount}}PLN</a>
          </div>
          <div class="row justify-content-center">
            <span class="promo-details" *ngIf="book.listPriceAmount != 0; else elseBlock">
              {{this.Math.round(100 - (book.retailPriceAmount * 100) / book.listPriceAmount)}}% lower
            </span>
            <ng-template #elseBlock>Free</ng-template>
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
