<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="css/index.css"
          th:href="@{css/index.css}"/>


</head>
<body>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-4 bg-info">
            <a type="button" href="/bookstores/?id=Books" class="btn btn-success">See Books</a>
        </div>
    </div>
</div>
</body>
</html>