<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>

</head>
<body class="bg-dark">
<div class="container text-center">
    <h1 class="text-light">Available bookstores:</h1>
    <span class="glyphicon glyphicon-plus"></span>
    <div class="col-md" th:each="bookstore: ${bookstores}">
        <div class="row justify-content-center">
            <div class="col-4 bg-info">
                <h1><a class="text-dark" th:href="@{bookstores/(id=${bookstore})}" th:text="${bookstore}"></a></h1>
            </div>
        </div>
    </div>
    <!--<img src="http://www.picgifs.com/glitter-gifs/h/hearts/picgifs-hearts-314486.gif"/>-->
</div>
</body>
</html>