<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css"
          href="hhttps://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <h1>Search</h1>
        <form class="col-sm-4" action="#" th:action="@{/advancedSearch}" method="post">
            <input type="text" name="title" placeholder="Title"/>
            <br/>
            <input type="text" name="author" placeholder="Author"/>
            <br/>
            <input type="text" name="category" placeholder="Category"/>
            <br/>
            <input type="text" name="minPrice" placeholder="MinPrice"/>
            <br/>
            <input type="text" name="maxPrice" placeholder="MaxPrice"/>
            <br/>
            <input type="submit" value="Search"/>
        </form>
    </div>
</div>
</body>
</html>