<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css"
          href="hhttps://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>
</head>
<body class="bg-dark">
<h1 class="text-primary text-center" th:text="${id}"></h1>
<table class="table">
    <thead class="text-primary">
    <tr class="h3">
        <th>#</th>
        <th>Book Title</th>
        <th>Normal Price</th>
        <th>Discount Price</th>
    </tr>
    </thead>
    <tbody class="text-secondary">
    <tr th:each="book, stat : ${books}" class="h4">
        <th th:text="${stat.count}">1</th>
        <td><a th:href="@{~/books/(id=${book.getIndustryIdentifier()})}" th:text="${book.getTitle()}"></a></td>
        <td><p th:text="${book.getListPriceAmount()}"></p></td>
        <td><p th:text="${book.getRetailPriceAmount()}"></p></td>
    </tr>
    </tbody>
</table>
</body>
</html>