<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css"
          href="hhttps://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../css/bookstore.css"
          th:href="@{../css/bookstore.css}"/>
</head>
<body>
<!--/*@thymesVar id="book" type="com.javaacademy.robot.model.BookDto"*/-->
<div class="container">
    <div class="row justify-content-end align-items-center">
        <div class="col-md-8 text-center"><a class="h1" th:href="@{/bookstores/?id=Books}" th:text="${id}"></a></div>
        <div class="col-sm-4">
            <form action="#" th:action="@{/search}" method="post">
                <input type="text" name="content" placeholder="Search"/>
                <input type="submit" value="Search"/>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <table class="table books-table" align="center">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th><a th:href="@{~/sort/(sorting=title)}">Book Title</a></th>
            <th><a th:href="@{~/sort/(sorting=regularPrice)}">Normal Price</a></th>
            <th><a th:href="@{~/sort/(sorting=newPrice)}">Discount Price</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, stat : ${books}" class="h4">
            <th th:text="${stat.count}">1</th>
            <td><a th:href="@{~/books/(id=${book.getIndustryIdentifier()})}" th:text="${book.getTitle()}"></a></td>
            <td>
                <del><p th:text="${book.getListPriceAmount()}"></p></del>
            </td>
            <td><p th:text="${book.getRetailPriceAmount()}"></p></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>