<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css"
          href="../css/bookview.css"
          th:href="@{../css/bookview.css}"/>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container">
        <a class="navbar-brand" href="">Book</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div id="Second" class="row grey-row">
    <div class="container">
        <!--/*@thymesVar id="book" type="com.javaacademy.robot.model.BookDto"*/-->
        <div class="card-columns">
            <div class="card">
                <img class="card-img-top" th:src="${book.smallThumbnail}" alt="Card image cap"/>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-text" th:text="${book.title}"></h4>
                    <p class="card-text" th:text="${book.subtitle}"></p>
                </div>
            </div>
            <div class="card p-3">
                <footer class="card-body">
                    <h4 class="card-title">Categories</h4>
                    <ul class="list-group" th:each="cat, stat : ${book.categories}">
                        <li class="list-group-item" th:text="${cat}"></li>
                    </ul>
                    <h4 class="card-title">Authors</h4>
                    <ul class="list-group" th:each="author, stat : ${book.authors}">
                        <li class="list-group-item">
                            <i th:text="${author}"></i>
                        </li>
                    </ul>
                </footer>
            </div>
            <div class="card p-3">
                <footer class="card-body">
                    <h4 class="card-title">Prices</h4>
                    <del class="card-text" th:text="${book.listPriceAmount}"> </del><del class="card-text" th:text="${book.getListPriceCurrencyCode()}"></del>
                    <p></p>
                    <a class="card-text" th:text="${book.retailPriceAmount}"></a><a class="card-text" th:text="${book.getRetailPriceCurrencyCode()}"></a>
                    <p></p>
                    <a type="submit" role="button" class="btn btn-xs btn-danger icon-button"
                       th:href="${book.canonicalVolumeLink}">BUY
                    </a>
                </footer>
            </div>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark my-footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; The Grandmasters 2017</p>
    </div>
</footer>
</body>

</html>
