<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css"
          href="hhttps://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>
</head>
<body class="bg-dark">
<table class="table">
    <thead class="text-primary">
    <tr class="h3">
        <th>#</th>
        <th>Book Title</th>
        <th>Discount</th>
    </tr>
    </thead>
    <tbody class="text-secondary">
    <tr class="h4">
        <th>1</th>
        <td><a th:href="${bookTitle}" th:text="${bookTitle}"></a></td>
        <td><a th:href="${bookTitle}" th:text="${bookTitle}"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>