<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css"
          href="hhttps://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>
</head>
<body>
<h1>
    <p th:text="'Hello, ' + ${name} + '!'"/>
    <div class="container">
        <h2 class="list-group-item active">Discounted books:</h2>
        <div class="row">
            <div class="col-sm-6" th:each="book: ${exampleBooks}">
                <p class="list-group-item active" th:text="${book}"></p>
                <img src="http://www.picgifs.com/glitter-gifs/h/hearts/picgifs-hearts-314486.gif"/>
            </div>
        </div>
    </div>
</h1>
</body>
</html>